<ActionBar class="action-bar">
	<NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
	<ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
		ios.position="left">
	</ActionItem>
	<Label class="action-bar-title" [text]="movie ? movie.Title : 'Loading'"></Label>
</ActionBar>

<StackLayout class="p-30" *ngIf="movie">
	<Image [src]="movie.Poster" height="300"></Image>
	<Button text="Add to favorites" (tap)="onFavorite()"></Button>	
	<Label class="h3 p-t-20" [text]="movie.Plot" textWrap="true"></Label>	
</StackLayout>