<ActionBar class="action-bar">
	<NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
	<ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
		ios.position="left">
	</ActionItem>
	<Label class="action-bar-title" text="Search"></Label>
</ActionBar>

<GridLayout class="page page-content" rows="150, *" columns="*">

	<StackLayout row="0" col="0" class="p-15">
		<Label class="h3" text="Movie name:" textWrap="true"></Label>
		<TextField [(ngModel)]="movieName" hint="Enter movie name..." text=""></TextField>
		<Button (tap)="onSearch()" text="Search" class="btn-primary"></Button>
	</StackLayout>

	<ScrollView row="1" col="0">
		<StackLayout>
			<ListView height="600" [items]="movies">
				<ng-template let-movie="item">
					<GridLayout nsRouterLink="/details/{{movie.imdbID}}" rows="*" columns="100, *">
						<Image width="100" height="100" row="0" col="0" [src]="movie.Poster"></Image>	
						<StackLayout row="0" col="1">
							<Label class="h2" [text]="movie.Title" textWrap="true"></Label>
							<Label class="h3" text="Year: {{movie.Year}}" textWrap="true"></Label>
							<Label class="h3" text="Type: {{movie.Type}}" textWrap="true"></Label>
						</StackLayout>
					</GridLayout>
				</ng-template>
			</ListView>
		</StackLayout>
	</ScrollView>

</GridLayout>